:root {

    font-family: 'Work Sans', sans-serif;
    --main-color:#2A2A2A;
    --main-color-reverse:#FFFFFF;
    font-size: 62.5%;
    font-weight: 500;
    


}



body {
    box-sizing: border-box;
}

h1{
    text-align:left;
    font-size: 9.6rem;
    padding:20px;
    font-weight: 400;
}

.logoImg {
    text-align: left;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: auto;
    padding-bottom: 15px;
}

.menuImg {
    float: right;
    padding-top: 20px;
    padding-right: 15px;
    padding-left: auto;
    padding-bottom: 15px;
}

.h1center{
    text-align: center;
    font-size: 3.5rem;
    padding:20px;   
}

h2{
    font-weight: 600;
    font-size: 2.86rem;
    line-height: 3.718rem;;
}


p{
    font-size: 1.6rem;
    line-height: 2.08rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-block-end: 0px;
}

.whiteh2{
    color: var(--main-color-reverse);
    text-align: center;
    text-shadow: 1px 1px 1px #2A2A2A;
    font-size: 4rem;
}

.right{
    text-align: right;
}

 .left{
    text-align: left;
    margin-left: 15px;
}

a{
    text-decoration: none;
    font-size: 1.8rem;
    line-height: 2.1rem;
}

.GrannywithblackImg{

    text-align: center;
    margin-top: 42px;
}


.IamBio {
    width: 308px;
    height: 84px;;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.boxFooter1{
    width: 85px;
    height: 245px;
    margin-left: 71px;
    margin-right: 219px;
}

.boxFooter2{
    width: 85px;
    height: 245px;
    margin-left: 219px;
    margin-right: 71px;
}

.center1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.Author{
    margin-bottom: 20px;
    width: 308px;
}

.Links{
    display:grid;
    grid-template-columns: 15% 15% 15% 15%;
    column-gap: 20px;
    justify-content: center;
}

.whiteh3{
    color: #FFFFFF;
}

.firstbox{
    margin-left: 0px;
    margin-right: 0px;
} 

.absolute{
    position: absolute;
    margin-right: 15px;
}

.FooterBackground{
    background-color: #FFF2D6;
    height: 901px;
    width: 375px;
    left: 0px;
    bottom: 0px;
}

.radiobuttons{
    margin-top:30px;
    margin-left:auto;
    margin-right:auto;
}

.section1{
    background: url("blue_backgroung.svg") center/cover;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 75px;
    height: 815px;
}

.section2{
    background: url("pink_background.svg") center/cover;
    display: block;
    position: relative;
    margin-top: -40px;;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 153px;
    padding-bottom: 100px;
    height: 300px;
    text-align: center;
}

.section3{

    margin-top:21px;
    padding-left:15px;
    padding-right:15px;
    text-align: center;
    display: block;

}

.button{
    background-color: #6A19F5;
    width: 345px;
    height: 50px;
    border-radius: 10px;
    margin-top: 30px;
}

.button_text{
    color: #FFFFFF;
    text-align: center;    
    margin-top: auto;
    margin-bottom: auto;
}

.section4{
    background: url("blue_background.svg") center/cover;
    display: block;
    position: relative;
    margin-top: 100px;;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 101px;
    padding-bottom: 95px;
    height: 600px;
    text-align: center;
}

.section5{
    display: block;
    position: relative;
    margin-top: 0px;;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
    padding-bottom: 100px;
    height: 600px;
    text-align: center;
    object-fit: cover;
}

footer{
    background-color: #FFF2D6;
    padding-left: 15px;
    margin-bottom: auto;
    display:sticky;
}

li{
    list-style-type: none;
}

.list1{
    display:grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
}

.Form{
    line-height: 20px;
    margin-left: 15px;
}

label{
    margin-bottom: 5px;
}

.divlist{
    text-align: center;
    display:grid;
    justify-content: center;
    width: 373px;
    grid-template-columns: 40% 40%;
    grid-column-gap: 20%;
}

.Formtext{
    font-weight: bold;
}

.Formtextsmall{
    text-align: left;
    font-size: 10px;
}

.FormButtons{
    width: 150px;
    margin-bottom: 15px;
    margin-top: 15px;
    display:grid;
    grid-template-columns: 40% 40%;
    column-gap: 10px;
}

.buttoninFormSubmit{
    background:#6A19F5;
    border-radius:5px;
    color:white;
    align-content:center;
}
.buttoninFormReset{
    background:#6A19F5;
    border-radius:5px;
    color:white;
    align-content:center;
}


.buttoninFormSubmit:hover{
    background-color:rgb(21, 190, 21);
    transition: 250ms;
    
}

.buttoninFormReset:hover{
    background-color:rgb(211, 33, 14);
    transition: 250ms;
    
}

/* .inputborder{
    border: #f51919;
    border-width: 1px;
} */


.centering{
    display:flex;
    justify-content: center;
}

.div-section5{
    text-align: center;
}

.footer-text{
    margin-left: 15 px;
}

.div-section1{
    display: grid;
    padding-left: 30px;
    padding-right: 30px;
    grid-template-rows: 50% 50%;
    align-items: center;
}

.div-section3{

    display: grid;
    padding-left: 30px;
    padding-right: 30px;
    grid-template-rows: 50% 50%;
    align-items: center;
}

.div-section4{
    display: grid;
    padding-left: 30px;
    padding-right: 30px;
    grid-template-rows: 50% 50%;
    align-items: center;
}

.div-section5{

    display: grid;
    grid-template-rows: 50% 50%;
}

.Form-name{
    text-align: center;
}





@media screen and (min-width: 1000px){
    .div-section5{
        display:flex;
        grid-template-columns: 30% 70%;
    }

    footer{
        padding-left: 227px;
        padding-right: 240px;
    }


    .section2{
        padding-top:100px;
    }

    .footer-text{
        margin-left: 15 px;
    }

    .div-section1{
        padding-top:150px;
        width: 80%;
        display: grid;
        grid-template-columns: 40% 40%;
        grid-column-gap: 30%;
        align-items: center;
    }

    .div-section3{
        padding-top: 200px;
        display: grid;
        grid-template-columns: 40% 40%;
        grid-column-gap: 20%;
        align-items: center;
    }

    .div-section4{
        padding-top: 200px;
        display: grid;
        grid-template-columns: 40% 40%;
        grid-column-gap: 10%;
        align-items: center;
    }

    .div-section5{
        padding-top: 150px;
        display: grid;
        grid-template-columns: 40% 40%;
        grid-column-gap: 10%;
        align-items: center;
    }

    .div-footer{
        display:grid;
        grid-template-columns: 20% 20% 20%; 
        grid-column-gap: 10%;
        align-items:center;
    }

    .h1center{
        text-align:left;
    }

    .box-section3{
        text-align: left;
    }

    .lefter{
        text-align: left;
    }

    .righter{
        text-align: right;
    }

    p{
        font-size: 20px;
        line-height: 30px;
    }

    h2{
        font-size: 32px;
    }

    .h1center{
        font-size: 96px;
    }

    .GrannywithblackImg{
        width: 660px;
        height: 540px;
    }

    .image-section3{
        width: 1017px;
        height: 1017px;
    }

    .image-section4{
        width: 775px;
        height: 600px;
    }

    .image-section5{
        width: 883px;
        height: 716px;
    }

}


